<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>SK Game Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
  <body>
    <div class="header">
          <a href="http://sktestplay.ml/">Novi link za TEST PLAY pretraživač</a>
    </div>
  </body>
</html>
