<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>SK Game Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico'/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
  <body>
    <div class="header">
      <span id="svet">Svet </span><span id="komp">KOMPJUTERA </span><span
          id="gi">Game Index</span>
    </div>
    <h2>rezultati pretrage ([[${numberOfGames}]]):</h2><a class="back" th:href="@{/}">Nazad</a>
    <table class="games">
      <tr>
        <th class="date">Datum</th>
        <th class="title">Naslov</th>
        <th class="author">Autor</th>
        <th class="score">Ocjena</th>
        <th class="platform">Platforma</th>
      </tr>
      <tr th:each="index: ${results}">
        <td th:text="${index.date}" />
        <td><span class="cube">■</span><a th:href="${index.link}"
                                          th:text="${index.title}"></a></td>
        <td th:text="${index.author}" />
        <td class="oc" th:switch="${index.score}"><span th:case="-1" th:text="'??'"></span>
          <span th:case="*" th:text="${index.score}"></span></td>
        <td th:text="${index.platform}" />
      </tr>
    </table>
  </body>
</html>